<html lang="en" ng-app="icaroioApp">

    <head>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.css" />
        <link rel="stylesheet" href="styles/main.css">
        <link href="lib/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
        <link href="lib/ng-material-floating-button/mfb/dist/mfb.css" rel="stylesheet"/>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
        <title>Ícaro Harry</title>
    </head>

    <body layout="column" ng-controller="MainCtrl" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
                    <md-icon aria-label="Menu" md-font-icon="mdi mdi-menu" ng-style="{'font-size': '24px', height: '24px'}"></md-icon>
                </md-button>
                <span flex></span>
                <md-button href="#home">Home</md-button>
                <md-button href="#skills">Skills</md-button>
            </div>
        </md-toolbar>
        
        <div layout="row" flex>
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
                <md-toolbar hide-gt-sm>
                    <div class="md-toolbar-tools">
                    </div>
                </md-toolbar>
                <md-content layout="column" layout-align="space-around center" class="md-padding">
                    <div class="photo">
                        <img src="images/icaro.png" alt="">
                    </div>
                </md-content>
                <md-content class="md-padding"> 
                    <md-list layout-align="space-around center">
                        <md-list-item class="md-2-line" ng-repeat="info in infos">
                            <md-icon md-font-icon={{info.icon}} class="md24" ng-style="{'font-size': '36px', height: '36px'}"></md-icon>
                            <div class="md-list-item-text">
                                <h3> {{ info.about }} </h3>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-sidenav>
            
            <md-content ng-view md-scroll-y flex></md-content>

            <nav mfb-menu template-url="ng-mfb-menu-md.tpl.html" position="br" effect="zoomin"
                 active-icon="mdi mdi-account-plus" resting-icon="mdi mdi-account-outline"
                 toggling-method="hover">
              <button ng-click="follow('facebook')" mfb-button class="facebook-button" icon="mdi mdi-facebook" label="Facebook"></button>
              <button ng-click="follow('github')" mfb-button class="github-button" icon="mdi mdi-github-circle" label="GitHub">
              </button>
              <button ng-click="follow('twitter')" mfb-button class="twitter-button" icon="mdi mdi-twitter" label="Twitter"></button>
              <button ng-click="follow('spotify')" mfb-button class="spotify-button" icon="mdi mdi-spotify" label="Spotify"></button>
            </nav>
        </div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
            !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
            (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
            r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
            }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-XXXXX-X');
            ga('send', 'pageview');
        </script>

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-cookies.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-touch.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
        <script src="lib/ng-material-floating-button/src/mfb-directive.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <!-- endbuild -->
    </body>
</html>