<div layout="column" flex id="content">
    <md-content class="md-padding">
        <md-card ng-repeat="card in cards">
            <md-card-content>
                <h2>{{card.title}}</h2>
                <p>
                  {{card.paragraph}}
                </p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
              </div>
        </md-card>
    </md-content>
</div>