<div layout="column" flex id="content">
    <md-content class="md-padding">
        <md-card ng-repeat="card in cards">
        <img ng-src="images/lemonade.jpg" class="md-card-image" alt="Washed Out"
        width= "50%" height= "50%">
            <md-card-content>
                <h2>{{card.title}}</h2>
                <p>
                  {{card.paragraph}}
                </p>
                <md-button flex="50" class="md-primary md-raised" ng-click="" layout-align="end end" >Comemorar!</md-button>
            </md-card-content>
    </md-content>
</div>