.menuBtn {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  position: absolute;
  width: 36px;
} 

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
  margin: auto;
}

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0; 
  position: absolute;
  width: 1px;
}

md-card {
  min-height: 150px; 
}


.photo {
    display:block;
    width: 150px;
    height: 150px;
    border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    overflow: hidden;
}
.photo img {
    width: 160px;
}

.s24 {
  width: 24px;
  height: 24px;
  color: #000;
}
.s36 {
  width: 36px;
  height: 36px;
  color: #000;
}
.s48 {
  width: 48px;
  height: 48px;
  color: #000;
}

.logo {
  width: 48px;
  margin: 16px; 
}

.logo-main {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 64px;
  margin: 16px; 
}

.amber {
  background-color: #FFC107;
  color: #fff;
}

.indigo {
  background-color: #3F51B5;
  color: #fff;
}

.brown {
  background-color: #795548;
  color: #fff;
}



.spotify-button a {
  background-color: #2EBD59 !important;
}

.github-button a {
  background-color: #333333 !important;
}

.facebook-button a {
  background-color: #3B5998;
}

.twitter-button a {
  background-color: #3B88C3;
}


li:focus {
  outline: none;
  border: 0;
}